.header__exit-button {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
  text-decoration: none;
  margin: auto 0;
  background-color: transparent;
  border: none;
}