.place__like{
  width: 21px;
  height: 18px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: white;
  cursor: pointer;
  
}
