.places{
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  gap: 20px 18px;
  margin-top: 47.25px;
  margin-bottom: 67px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px){
  .places {
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin-top: 36px;
    margin-bottom: 48px;
  }
}

@media (max-width: 425px){
  .places {
    gap: 20px;
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
}