.header {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  justify-content: space-between;
}

@media (max-width: 768px){
  .header {
    margin-top: 28px;
  }
}