
.popup{
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition:  0.3s;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
}
